<div>
    <form action="/auth/reset-password" method="post">
        <input type="hidden" name="token" value="<%= token %>">
        <label for="" style="margin-top: 10px;">New Password</label>
        <input type="password" name="newPassword" id="">
        <label for="" style="margin-top: 10px;">Confirm Password</label>
        <input type="password" name="confirmPassword" id="">
        <button>Reset</button>
    </form>
</div>